:root {
    font-size: 18px;
    --top-bottom-bg-color: rgb(81, 53, 14);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {
    background-color: var(--top-bottom-bg-color);
    background-size: 100px;
}

.visible {
    visibility: visible;
}

.hidden {
    visibility: hidden;
}

/* TOP CONTAINER ELEMENTS */

div {
    display: flex;
}

#top-container {
    width:100%;
    top:0;
    position:fixed;
    justify-content: center;
    align-items: center;
    height: 6rem;
    z-index: 20;
    background-color: var(--top-bottom-bg-color);
    color: white;
    border-bottom: 2px solid black;
}

#library-title {
    font-size: 3rem;
}

#books-per-row-container {
    flex-direction: column;
    position:absolute;
    left:1.5rem;
    gap:8px;
}

#bpr-top-row {
    font-size:1.4rem;
    align-items:center;
    justify-content: flex-start;
}

#books-per-row-spinbox {
    border: 1px solid black;
    background: rgb(190, 190, 190);
    width: 1.7rem;
    height: 1.7rem;
    justify-content: center;
    align-items: center;
    color: black;
    margin: 0 0 0 8px;
    border-radius: 8px 0 0 8px;
}

#spinbox-controls-container {
    flex-direction: column;
    justify-content: space-around;
    width: 1rem;
    height: 1.7rem;
    gap: 4px;
    background-color: black;
}

#spinbox-controls-container > button {
    font-size:0.4rem;
    text-align: center;
    padding:0;
    flex: 1 1 auto;
    margin:0;
}

#bpr-bottom-row {
    justify-content: center;
}

#bpr-bottom-row > button {
    font-size: 1rem;
    border-radius: 12px;
    padding: 4px 16px;
    cursor:pointer;
}

#bpr-bottom-row > button:hover {
    background-color:darkgray;
}

#top-separator {
    height: 3rem;
    margin-top: 4.2rem;
    background-image: url(./shelf.png);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: 100% 100%;
}


/* ADD BOOK DIALOG BOX AND BUTTON */

#add-book-container {
    width: 3rem;
    height: 3rem;
    border-radius: 1rem;
    position:absolute;
    right: 1.5rem;
    color: rgb(54, 54, 54);
    font-weight: bold;
    font-size: 3rem;
    font-family:'Times New Roman', Times, serif;
    border: 1px solid rgb(96, 96, 96);
    background: radial-gradient(rgb(239, 239, 239) 30%, rgb(150, 150, 150) 100%);
    justify-content: center;
    align-items: center;
    cursor:pointer;
}

#add-book-container:hover {
    background: radial-gradient(rgb(183, 183, 183) 30%, rgb(117, 117, 117) 100%);
}

#add-book-container:active {
    background: radial-gradient(rgb(163, 163, 163) 30%, rgb(94, 94, 94) 100%);
}

#add-book-dialog-box {
    position: absolute;
    right: 2rem;
    top: 5.2rem;
    padding: 22px;
    background-color: rgb(231, 231, 231);
    color:black;
    font-size: 1.1rem;
    line-height: 1.4rem;
    border-radius: 24px;
    box-shadow: 4px 4px 4px 4px black;
    flex-direction:column;
    justify-content: flex-start;
}

#add-book-form {
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 24px;
}

#add-book-form input[type="text"] {
    font-size:1.2rem;
    padding:8px;
    margin-top:4px;
    border-radius: 8px;
    width:300px;
}

#add-book-form input[type="number"] {
    font-size:1.2rem;
    padding:8px;
    margin-top:4px;
    border-radius: 8px;
    width:3rem;
}

.form-section-top {
    display:block;
}

fieldset {
    border:1px solid darkgray;
    width:100%;
}

legend {
    margin-left: 12px;
}

#form-section-bottom-row-container {
    flex-direction: row;
    justify-content: center;
    gap:16px;
}

#form-section-pages {
    width: 30%;
    flex:1 1 auto;
    flex-direction:column;
    align-items:center;
    justify-content: center;
    font-style:italic;
}

#form-section-readstatus {
    /* width:60%; */
    flex:2 0 auto;
    display:block;
    margin: 0 0 12px 0;
}

#form-section-readstatus > input {
    margin:8px;
}

#add-book-button-section {
    width: 100%;
    gap:20px;
    justify-content: center;
}

#add-book-button-section > button {
    padding: 8px 16px;
    font-size:1rem;
    border-radius:12px;
    background:white;
}

#add-book-button-section > button:hover {
    background:rgb(204, 204, 204);
}

#add-book-button-section button[type="submit"] {
    font-weight:bold;
}


/* CONTENT AREA ELEMENTS */

#content-container {
    width: 100%;
    justify-content: center;
    align-items: stretch;
    background-image: url(./woodbg_tilable.png);
    background-position: center center;
    background-size: 100px;
    display: block;
}

.library-row {
    width: 100%;
    height: 24rem;
    background-image: url(./shelf.png);
    background-repeat: no-repeat;
    background-size: 100% 54px;
    background-position: center bottom;
    border-bottom: 2px solid black;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    position:relative;
}

.library-row:before {
    content: "";
    /* display: block; */
    position: absolute;
    z-index: 5;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    /* width: max(0px, calc(50vw - 548px)); */
    /* height: 100%; */

    background-color: #4f4f4f;
    mix-blend-mode: multiply;
}



/* BOOK OBJECTS */

.book-container {
    /* border: 1px red solid; */
    width: 360px;
    height: 100%;
    flex: 0 0 auto;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    position: relative;
}

.book-container > img {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 103%;
    object-fit: cover;
    mix-blend-mode: soft-light;
}

.book {
    margin-bottom: 28px;
    background-image: radial-gradient(circle at top,rgba(255,255,255,0.5) 0%, rgba(139, 139, 139, 0) 30%), url(./book.png);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: 83% 100%;
    filter: drop-shadow(6px 3px 6px #000000);
    width: 288px;
    height: 302px;
    flex-direction:column;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    z-index: 15;
}

.book-content-container {
    margin: 36px 14% 0px 9%;
    flex-direction: column;
    justify-content: space-between;
    width: 77%;
    height: 86%;
    flex: 0 0 auto;
    position: relative;
    font-size: 1.4rem;
    text-align: center;
    color: black;
    line-height: 1.6rem;
}

/* ELEMENTS ON THE BOOKS */

.delete-book-btn {
    position: absolute;
    color: black;
    width: 20px;
    height: 20px;
    border: 1px solid rgb(112, 112, 112);
    background:darkgrey;
    font-weight: bold;
    font-size: 1.5rem;
    top: -10px;
    right: 5px;
    background-image: url(./recycle-bin-line-icon.svg);
    background-size:70%;
    background-repeat: no-repeat;
    background-position: center center;
}

.delete-book-btn:hover {
    background-color:white;
}

.book-content {
    padding: 0px 4px;
}

.book-content.title {
    font-size: 1.4rem;
    margin-top:16px;
    font-weight: bold;
    height: 6.0rem;
    flex-direction: column;
    justify-content: center;
    background-color: #ffffff77;
}

.book-content.title > h3 {
    line-height: 1.2em;
    line-clamp: 3;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    display: -webkit-box;
}

.book-content.author {
    margin-top: 0;
    font-size: 1.2rem;
    font-style: italic;
    height: 3.2rem;
    line-clamp: 2;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    display: -webkit-box;
}

.book-content.status {
    margin: 0 10% 0 6%;
    padding: 0;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
    font-weight: bold;
    position:relative;
}

.book-content.pages {
    padding: 0 12px;
    margin: 0;
    border-radius: 2px 0 0 2px;
    flex: 1 0 50%;
    height:100%;
    border: 1px solid gray;
    background: linear-gradient(180deg, rgba(208,208,208,0.8) 0%, rgba(138,138,138,0.8) 100%);
}

.book-content.status-button {
    border-radius: 0 16px 16px 0;
    padding: 0;
    flex: 0 1 25%;
    justify-content: flex-end;
    align-items: center;
    height:100%;
    border-color: gray;
    border-style: solid;
    border-width: 1px 1px 1px 0;
    background: linear-gradient(180deg, rgba(208,208,208,0.8) 0%, rgba(138,138,138,0.8) 100%);
}

.book-content.status-button:hover {
    background: linear-gradient(180deg, rgba(155, 155, 155, 0.8) 0%, rgba(67, 67, 67, 0.8) 100%);
}


.book-content.status-color {
    clip-path: circle(40% at 50% 50%);
    border: 1px solid darkgray;
    width: 20px;
    height: 20px;
    padding: 0;
    margin-right: 6px;
}

.status-color[data-readstatus="unread"] {
    background-color: rgb(216, 0, 0);
}

.status-color[data-readstatus="currently"] {
    background-color: rgb(255, 145, 0);
}

.status-color[data-readstatus="finished"] {
    background-color: rgb(0, 190, 0);
}

/* READ STATUS DROPDOWN */

.status-dropdown {
    position: absolute;
    border: 2px solid  rgb(86, 86, 86);
    border-radius: 16px;
    background-color: rgba(208,208,208,1);
    top: 30px;
    right: 0px;
    flex-direction: column;
    justify-content: space-evenly;
    z-index: 90;
}

.status-dropdown-item:first-child {
    border-radius: 14px 14px 0 0;
    border-bottom: 1px dotted gray;
}

.status-dropdown-item:last-child {
    border-radius: 0 0 14px 14px;
    border-top: 1px dotted gray;
}

.status-dropdown-item {
    justify-content: space-between;
    align-items: center;
    padding: 4px 0px 4px 20px;
    font-size: 1rem;
    width: 15ch;
}

.status-dropdown-item:hover {
    background-color: rgb(138, 138, 138);
}


/* BOTTOM CONTAINER ELEMENTS */

#bottom-container {
    width: 100%;
    height: 400px;
    background-color: var(--top-bottom-bg-color);
}
